{% extends "sigmadp/base_sigmadp.html" %}
{% block title %}Ficha de Equipo S-DP{% endblock %}
{% block page_title %}Ficha de Equipo S-DP{% endblock %}
{% block content %}
<div class="card">
  <h3>Equipos de Desorción y Permeación</h3>
  <p>Información sobre los equipos disponibles en el laboratorio S-DP para ensayos de desorción y permeación.</p>
  
  <div style="margin-top: 2rem;">
    <h4>Equipos de Desorción</h4>
    <ul>
      <li>Sistema de desorción térmica programada (TDS)</li>
      <li>Analizador de gases residuales (RGA)</li>
      <li>Hornos de alta temperatura</li>
    </ul>
    
    <h4>Equipos de Permeación</h4>
    <ul>
      <li>Sistema de permeación de gases</li>
      <li>Medidor de flujo de gases</li>
      <li>Células de permeación</li>
    </ul>
    
    <h4>Equipos de Difusión</h4>
    <ul>
      <li>Sistema de difusión en solución</li>
      <li>Espectrofotómetro UV-Vis</li>
      <li>Baños termostáticos</li>
    </ul>
    
    <h4>Equipos de Adsorción</h4>
    <ul>
      <li>Analizador de adsorción BET</li>
      <li>Sistema de adsorción volumétrica</li>
      <li>Balanza de alta precisión</li>
    </ul>
  </div>
</div>
{% endblock %}

